// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* ::-webkit-scrollbar {
	@media screen and (orientation: portrait){
		display: none;
	}
}

	
	ion-app.md [padding] .scroll-content{
		@media screen and (orientation: landscape){
			padding: 16px 180px 16px 180px !important;
		}
	}
	
	#fimg{
		@media screen and (orientation: landscape){
			margin-left: auto !important;
			margin-right: auto !important;
			width: 30% !important;
			display: block !important;
		}
	}
	
	.button-block{
		@media screen and (orientation: landscape){
			width: 20% !important;
			display: unset !important;
		}
		
	}
	
	.button-md{
		@media screen and (orientation: landscape){
			border-radius: 64px !important;
			color: #fff !important;
			background-color: #cd4b4b !important;
		}
		
	}
	
	.scroll-content{
		@media screen and (orientation: landscape){
			background-color: #fff;
		}
	}