page-home {

  .center {
    text-align: center;
    vertical-align: center;
  }

  .card-title-home {
    @media screen and (orientation: landscape){
      position: absolute !important;
      top: 36% !important;
      font-size: 4.0em !important;
      width: 100% !important;
      font-weight: bold !important;
      color: #ff0000 !important;
      background-color: initial !important;
      text-shadow: -5px 3px 4px #000000c2;
      }
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title-home {
      position: absolute;
		  top: 36%;
		  font-size: 2.3em;
		  width: 100%;
		  font-weight: bold;
      color: red;
      text-shadow: -4px 3px 5px #c4c4c4;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

}




